*.bak
*.idea
*.project
*.swp
*~
.TemporaryItems
.buildpath
.cache
.phpunit.cache
.project
.session
.settings
.webprj
/.phpunit.cache/
/.php-cs-fixer.cache
/infection.log
/test-list.txt
/vendor/
nbproject
