parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$string of function explode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/WordListReader.php
